@import "partials/variables";
@import "partials/mixin";

.box1 {
  @include box("purple-color", "white-color", "red-color");
  a {
    &:hover {
      background-color: lighten($color: rgb(80, 64, 80), $amount: 50);
    }
  }
}

.box2 {
  @include box("yellow-color", "purple-color", "purple-color");
  margin-top: 10px;

  a {
    &:hover {
      background-color: lighten($color: rgb(64, 80, 66), $amount: 50);
    }
  }

  img {
    width: 150px;
    padding: 10px;
  }
}

/* ...... %placeholder ....... */
%blankbox {
  width: 300px;
  text-align: center;
  border: 1px solid rgb(2, 2, 2);
}
/* ...... End of placeholder ....... */

/* ...... @function ....... */
@function fontSize($val1, $val2) {
  @return $val1 + $val2;
}
$baseUrl: "../images/";

@function importImage($imgName) {
  @return url($baseUrl + $imgName);
}
/* ...... End of @function ....... */

/* ...... @extend ....... */
.greenbox {
  @extend %blankbox;
  back h2 {
    font-size: fontSize(20, 20) * 1px;
  }
}

.yellowbox {
  @extend %blankbox;
  background: yellow;
}
/* ...... End of @extend ....... */

/* ...... interpolation ....... */
@mixin gap($prop, $side, $value) {
  #{$prop}-#{$side}: #{$value}px;
}

.interpolation-1 {
  @include gap("margin", "top", 100);
}

.interpolation-2 {
  @include gap("padding", "bottom", 200);
}
/* ...... End of interpolation ....... */

.vertical {
  width: 100px;
  height: 100px;
  background-image: importImage("vertical1.jpg");
}

/* ...... @for loop ....... */
@for $var from 1 through 5 {
  .w-#{$var * 100} {
    width: #{$var * 100}px;
    background: darken($color: pink, $amount: $var * 10%);
  }
}
/* ...... End @for loop ....... */

/* ...... @each loop ....... */
$values: 0, 5, 10, 15, 20, 15, 20;

@each $var in $values {
  .m-#{$var} {
    margin-left: #{$var}px;
  }
}
/* ...... End @each loop ....... */

/* ...... @content ....... */
@mixin device-media-q {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin mobile-media-q {
  @media (max-width: 600px) {
    @content;
  }
}

body {
  @include device-media-q() {
    background: green;
  }

  @include mobile-media-q() {
    background: pink;
  }
}
/* ...... End @content ....... */
