/* ...... Variables ....... */
$backgroundColor: green;
$FontColor: white;
$border: 1px solid red;
$text-center: center;
$padding: 10px;
$color-primary: purple;

$colors: (
  blue-color: blue,
  white-color: white,
  yellow-color: yellow,
  purple-color: purple,
  red-color: red,
);
